@font-face {
  font-family: AlimamaShuHeiTi-Bold;
  src: url(AlimamaShuHeiTi-Bold.woff2) format("woff2");
}
@font-face {
  font-family: "HarmonyOS-Regular";

  src: url(HarmonyOS_Sans_SC_Regular.ttf) format("truetype");
}
@font-face {
  font-family: "HarmonyOS-Medium";

  src: url(HarmonyOS_Sans_SC_Medium.ttf) format("truetype");
}
